<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

</head>
<body>
    @Html.Partial("ExternalHeader")

    @{ 
        bool isAdmin = false;
        HttpCookie authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
        FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(authCookie.Value);
        if(!string.IsNullOrEmpty(ticket.UserData))
        {
            
            string[] data = ticket.UserData.Split('=');
            if(data.Length >= 2)
            {
                if (data[0] == "Admin" && data[1] == "1")
                {
                    isAdmin = true;
                }
            }
        }
    }
    <nav id="navigator" class="navbar navbar-expand-sm bg-light navbar-light">
        @*<a class="navbar-brand" href="#">
            <img src="~/Images/logo.png" alt="YMCA Logo" style="width:80px; height:80px;">
        </a>*@
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="memberDrop" data-toggle="dropdown">Membership</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/Registration/Register">Register New Member</a>
                        <a class="dropdown-item" href="~/Registration/Update">Update Existing Member</a>
                        <a class="dropdown-item" href="~/Registration/AddChild">Attach Child To Member</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/SignIn/SignOut">Family Sign Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/SignIn/SignIn" target="_blank">Member Signin</a>
                </li>


            </ul>
            @if (isAdmin)
            {
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Logged in: @ticket.Name</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/Admin/Index">Administration Portal</a>
                        <a class="dropdown-item" href="~/Admin/Report">Business Intelligence</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Help/HelpFile">Help</a>
                </li>
            </ul>
            }
            else
            {
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link">Logged in: @ticket.Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Help/HelpFile">Help</a>
                    </li>
                </ul>
            }


        </div>
    </nav>
    <div class="row justify-content-center">
        <div class="col-md-9">
            @{
                var success = TempData["Success"];
                if (success != null)
                {
                    <div id="successDiv" class="alert alert-success" role="alert">
                        @success.ToString()

                    </div>
       
                }
            }
            @{
                var fail = TempData["Failure"];
                if (fail != null)
                {
                    <div id="failDiv" class="alert alert-danger" role="alert">
                    @fail.ToString()
   
                    </div>
                }
            }
            <div class="body">
                @RenderBody()
            </div>
        </div>
    </div>
    @Html.Partial("ExternalFooter")
</body>
</html>
