@model ChildWatchEmployee.Models.ChangePassword
@using ChildWatchEmployee.Models;

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>



@using (Html.BeginForm())
{
   
    if (TempData["Message"] != null)
    {
        ResponseMessage m = (ResponseMessage)TempData["Message"];
        string classes = m.Error ? "alert alert-danger" : "alert alert-success";
        <div id="messagebox" class="@classes">
            @m.Message
        </div>
        if (!m.Error)
        {
            <script>
                $(function () {
                    $('input[type=text]').val("");
                });
            </script>
        }
    }
    else
    {
        <div id="messagebox" class="alert alert-warning" style="display:none;">

        </div>
    }
    <div class="form-control">
        <label>Select Employee:</label>
        @Html.DropDownListFor(m => Model.Employee.ID, Model.CurrentEmployees(), new { id = "list", @class = "form-control" })
    </div>

    <div class="form-control">
        <label>New Password:</label>
        @Html.TextBoxFor(m => Model.Employee.Password, new { id = "password", @class = "form-control", type="password" })
    </div>

    <div class="form-control">

        <label>Confirm Password:</label>
        <input class="form-control" type="password" id="confirm" />
    </div>

    <div class="form-control">
        <label>Your Administrator Password:</label>
        @Html.TextBoxFor(m => Model.AdminPassword, new { @class = "form-control", type = "password" })
    </div>


    <br /><br />
    <button type="button" class="btn btn-primary btn-block" onclick="check()">Change Password</button>
   

}
<script>
    function check() {
        if ($('#password').val() == $('#confirm').val()) {
            document.getElementsByTagName("form")[0].submit();
        }
        else {
            $('#messagebox').show();
            $('#messagebox').text("Unable to submit form.  Passwords do not match.");
        }
    }
</script>

